name: Build and Deploy to GCE

on:
    push:
        branches:
            - master

env:
    PROJECT_ID: ${{ secrets.GCE_PROJECT }}
    GCE_INSTANCE: ${{ secrets.GCE_INSTANCE_NAME }}
    GCE_INSTANCE_ZONE: ${{ secrets.GCE_INSTANCE_ZONE }}

jobs:
    setup-build-deploy:
        name: Setup, build, and deploy
        runs-on: ubuntu-latest

        steps:

        # checkout branch
        - name: Checkout
          uses: actions/checkout@v2 

        # setup GCP cli
        - name: Setup GCP cli
          uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
          with:
            version: '290.0.1'
            service_account_key: ${{ secrets.GCE_SA_KEY }}
            project_id: ${{ secrets.GCE_PROJECT }}
            
        # Configure Docker to use the gcloud cli as a credential helper for authentication
        - name: Configure GCP cli with Docker
          run: gcloud --quiet auth configure-docker

        # Copy to remote 
        - name: Copy to remote
          run: gcloud compute scp --recurse ./ ${{ secrets.GCE_INSTANCE_NAME }}:~ --zone ${{ secrets.GCE_INSTANCE_ZONE }} --project ${{ secrets.GCE_PROJECT }}

