name: Build and Deploy to GCE

on:
    push:
        branches:
            - master

env:
    PROJECT_ID: ${{ secrets.GCE_PROJECT }}
    GCE_INSTANCE: ${{ secrets.GCE_INSTANCE_NAME }}
    GCE_INSTANCE_ZONE: ${{ secrets.GCE_INSTANCE_ZONE }}

jobs:
    setup-build-deploy:
        name: Setup, build, and deploy
        runs-on: ubuntu-latest

        steps:

        # checkout branch
        - name: Checkout
          uses: actions/checkout@v2 

        # build
        - name: Build docker image
          run: docker build -t jeffstjean/enactushacks_nodejs ./api

        # push
        - name: Publish docker image
          run: docker push jeffstjean/enactushacks_nodejs

        # deploy
        - name: Deploy to digitalocean
          uses: sagebind/docker-swarm-deploy-action@v2
          with:
            remote_host: ssh://${{ secrets.PROD_USERNAME }}@${{ secrets.PROD_HOST }}
            ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
            ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
            args: stack deploy -c docker-compose.yml eh_prod

