name: Build and Deploy to GCE

on:
    push:
        branches:
            - master

env:
    PROJECT_ID: ${{ secrets.GCE_PROJECT }}
    GCE_INSTANCE: ${{ secrets.GCE_INSTANCE_NAME }}
    GCE_INSTANCE_ZONE: ${{ secrets.GCE_INSTANCE_ZONE }}

jobs:
    setup-build-deploy:
        name: Setup, build, and deploy
        runs-on: ubuntu-latest

        steps:

        # checkout branch
        - name: Checkout
          uses: actions/checkout@v2 

        # setup GCP cli
        - name: Setup GCP cli
          uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
          with:
            version: '290.0.1'
            service_account_key: ${{ secrets.GCE_SA_KEY }}
            project_id: ${{ secrets.GCE_PROJECT }}

        # ssh to to remote 
        - name: SSH into remote
          run: gcloud compute ssh ${{ secrets.GCE_INSTANCE_NAME }} --zone ${{ secrets.GCE_INSTANCE_ZONE }} --project ${{ secrets.GCE_PROJECT }}

        # bring down containers
        - name: Stop docker containers
          run: sudo docker-compose down

        # update local repo
        - name: Fetch and pull changes
          run: git fetch && git pull

        # start up containers
        - name: Start docker containers
          run: sudo docker-compose up -d

