name: Build, Push and Deploy to Digital Ocean

on:
    push:
        branches:
            - master

env:
    PROJECT_ID: ${{ secrets.GCE_PROJECT }}
    GCE_INSTANCE: ${{ secrets.GCE_INSTANCE_NAME }}
    GCE_INSTANCE_ZONE: ${{ secrets.GCE_INSTANCE_ZONE }}

jobs:
    setup-build-deploy:
        name: Setup, build, and deploy
        runs-on: ubuntu-latest

        steps:

        # checkout branch
        - name: Checkout
          uses: actions/checkout@v2 

        # login to docker
        - name: Login to docker
          run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

        # build image
        - name: Build docker image
          run: docker build -t jeffstjean/enactushacks_nodejs ./api

        # push image
        - name: Push docker image
          run: docker push jeffstjean/enactushacks_nodejs

        # deploy
        - name: Deploy to digitalocean
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.DEPLOY_HOST }}
            username: ${{ secrets.DEPLOY_USER }}
            key: ${{ secrets.DEPLOY_KEY }}
            command: stack deploy -c test/docker-compose.yml eh_prod

